<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <div>
        <h3>Enter Username of recipient</h3>
        <form method="post">
          <label for="username">First Name</label>
          <input type="text" name="username" placeholder="Recipient username..">
          <input type="submit" value="Submit">
        </form>
      </div>
  </body>
</html>
