<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
  <div class="formDiv" id="loginUpDiv">
    <form method="post">
      Username <br>
      <input type="text" name="username"><br>
      Password: <br>
      <input type="password" name="password"><br>
      <input type="submit" name="login" value="login">
    </form>
  </div>
  </body>
</html>
