<!DOCTYPE html>
<html>

  <head>
    <title>Sign up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <!--<h1><%= title %></h1>-->
    <div class="topnav">
	  <a class="active" href="/">Home</a>
	  <a href="/contact">Contact</a>
	  <a href="/about">About</a>
	  <a id="loginTab" href="/login">Login</a>
	</div>

  <div class="formDiv" id="signUpDiv">
    <form method="post">
      Username <br>
      <input type="text" name="username"><br>
      E-mail: <br>
      <input type="text" name="email"><br>
      Password: <br>
      <input type="password" name="password"><br>
      Date of Birth: <br>
      <input type="date" name="dob"><br>
      <input type="submit" name="signup" value="signup">
    </form>
  </div>


  </body>
</html>
